/* ITC Kabel Std */

@font-face {
    font-family: "Kabel";
    src:
        local("ITC Kabel Std Bold"),
        url("/fonts/Kabel_Bold.ttf") format("truetype"),
        url("/fotns/Kabel_Bold.otf") format("opentype"),
        url("/fonts/Kabel_Bold.woff") format("woff"),
        url("/fonts/Kabel_Bold.woff2") format("woff2");
    font-weight: 700; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: "Kabel";
    src:
        local("ITC Kabel Std Demi "),
        url("/fonts/Kabel_Demi.ttf") format("truetype"),
        url("/fotns/Kabel_Demi.otf") format("opentype"),
        url("/fonts/Kabel_Demi.woff") format("woff"),
        url("/fonts/Kabel_Demi.woff2") format("woff2");
    font-weight: 600; /* Demi */
    font-style: normal;
}

@font-face {
    font-family: "Kabel";
    src:
        local("ITC Kabel Std Medium"),
        url("/fonts/Kabel_Medium.ttf") format("truetype"),
        url("/fotns/Kabel_Medium.otf") format("opentype"),
        url("/fonts/Kabel_Medium.woff") format("woff"),
        url("/fonts/Kabel_Medium.woff2") format("woff2");
    font-weight: 500; /* Medium */
    font-style: normal;
}

/* Helvetica Condensed */

@font-face {
    font-family: "Kabel";
    src:
        local("Helvetica Condensed Bold"),
        url("/fonts/Helvetica_Bold.ttf") format("truetype"),
        url("/fotns/Helvetica_Bold.otf") format("opentype"),
        url("/fonts/Helvetica_Bold.woff") format("woff"),
        url("/fonts/Helvetica_Bold.woff2") format("woff2");
    font-weight: 700; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: "Helvetica";
    src:
        local("Helvetica Condensed Medium"),
        url("/fonts/Helvetica_Medium.ttf") format("truetype"),
        url("/fotns/Helvetica_Medium.otf") format("opentype"),
        url("/fonts/Helvetica_Medium.woff") format("woff"),
        url("/fonts/Helvetica_Medium.woff2") format("woff2");
    font-weight: 500; /* Medium */
    font-style: normal;
}

/* Board typography */

.typography-board-large {
    @apply break-words font-game text-20 font-m leading-22 tracking-2;
}

.typography-board-medium {
    @apply break-words font-game text-16 font-m leading-18 tracking-1;
}

.typography-board-small {
    @apply break-words font-game text-13 font-m leading-15 tracking-3;
}

/* Card typography */

.typography-card-large {
    @apply break-words font-game text-12 font-d leading-14 tracking-normal;
}

.typography-card-large-bold {
    @apply break-words font-game text-24 font-b leading-28 tracking-normal;
}

.typography-card-medium {
    @apply break-words font-game text-9 font-m leading-11 tracking-normal;
}

.typography-card-medium-caps {
    @apply break-words font-game text-9 font-m uppercase leading-11 tracking-normal;
}

.typography-card-small {
    @apply break-words font-game text-12 font-d leading-14 tracking-normal;
}

.typography-card-small-bold {
    @apply break-words font-game text-14 font-d leading-16 tracking-2;
}
