{
  "tabWidth": 4,
  "overrides": [
    {
      "files": ["*.json", "*.config.ts", "*.prettierrc"],
      "options": {
        "tabWidth": 2
      }
    }
  ],
  "plugins": ["prettier-plugin-tailwindcss"]
}
